<div class="display-1 text-capitalize text-center">welcome to sparkl</div>
<div class="border p-3 my-3">
  <h2>TESING BLOCK</h2>
  <div class="d-flex gap-1 my-2">
    <div class="my-auto me-2">DEV</div>

    <button class="btn btn-outline-primary" (click)="checkUser()">Check login state</button>
    <button class="btn btn-outline-primary" (click)="checkToken()">Check token</button>
  </div>
  <div class="d-flex gap-1 my-2">
    <div class="my-auto me-2">Forms (not working)</div>
    <front-nx-user-login></front-nx-user-login>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registerModal" *ngIf="!isLoggedIn">
      Register
    </button>
    <button class="btn btn-danger" (click)="logout()" *ngIf="isLoggedIn">Log out</button>

  </div>
  <div class="d-flex gap-1 my-2">
    <div class="my-auto me-2">Users: </div>
    <a class="btn btn-outline-primary" [href]="'/user/1'">Dev</a>
    <a class="btn btn-outline-primary" [href]="'/user/2'">Ceo</a>
  </div>
  <div class="d-flex gap-1 my-2">
    <div class="my-auto me-2">Socket.io (not working): </div>
    <button class="btn btn-outline-primary" disabled (click)="sendSocketEvent()">test socket event</button>
  </div>
</div>

<a class="btn btn-outline-primary" [href]="'/notifications-panel'">Notifications panel</a>



<front-nx-user-register></front-nx-user-register>
