    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal">
      Login
    </button>

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="loginModalLabel">Login</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="username-field" class="form-label">User name:</label>

            <input class="form-control" id="username-field" [(ngModel)]="cred.username" name="username">
          </div>
          <div class="mb-3">
            <label for="password-field" class="form-label">Password</label>
            <input type="password" class="form-control" id="password-field" [(ngModel)]="cred.password" name="password">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" disabled>
            <label class="form-check-label" for="exampleCheck1">Remember me (not implemented)</label>
          </div>
          <button type="submit" class="btn btn-primary" (click)="ok()">Submit</button>
        </form>

        <div class="spinner-border text-primary" *ngIf="loading" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>

      </div>
    </div>
  </div>
</div>
